.App {
  text-align: center;
}

.todaycast{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.forecastline{
    display:flex;  flex-direction: row;  overflow-x:scroll;
}

.forecastline::-webkit-scrollbar {
  display: none;
}

.one-cast{
    min-width: 200px;
    padding:0 20px;
    margin:auto 30px;
    background-color: #dedede;
}

.one-line{
    padding: 5px 0;
}
